.espatula{
  width: 400px;
  height: 250px;
  background-color: cadetblue;
  font-size: 25px;
  color: white;
  font-family: sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: solid white 10px;
  border-radius: 15px;
  box-shadow: 5px 10px 25px black;
  padding: 20px;
}
.ball{
  width: 50px;
  height: 50px;
  border-radius: 25px;
  background-color: lightgray;
  box-shadow:5px 5px 20px black, inset 5px 10px 50px rgb(94, 94, 94);
  animation: mover 5s infinite;
}

@keyframes mover {
  0% {transform: translate(0, 0);}
  25% {transform: translate(280px, 0);}
  50% {transform: translate(280px, 130px);}
  75% {transform: translate(0, 130px);}
  100% {transform: translate(0, 0);}
}